{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    [ "env" ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ]
    },
    "production": {
      "plugins": [
         "transform-runtime"
      ]
    }
  }
}
